aniso8601==1.2.0
asn1crypto==0.24.0
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
Click==7.0
cryptography==3.2
Flask==0.12.1
Flask-Ask==0.9.8
gunicorn==19.9.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
pycparser==2.19
pyOpenSSL==17.0.0
python-dateutil==2.8.0
PyYAML==3.12
requests==2.22.0
six==1.11.0
urllib3==1.25.6
Werkzeug==0.16.0
